node_modules/
android/
ios/
dist/

obj
bin
web-build/

bun.lock
package-lock.json
eas.json
GoogleService-Info.plist
google-services.json
%ProgramData%

.expo/
.vs/
.vscode/

.DS_Store
.env
.env.local
.kotlin/
*.orig.*
*.ipa
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.tsbuildinfo

.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
